h1{
    background-color: green;
}

.clase{
    color: green;
}

#identificador{
    color: blueviolet;
}

p{
    color: brown !important;
}

/*Selector universal*/
/*
*{
    font-size: 50px;

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


h1,h2,h3{
    color: red;
}
*/

