header{
    background-color: gray;
    border: 5px chartreuse;
    width: 770px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;

}

main {
    width: 780px;
    height: 400px;
    margin: 5px;
    border: 5px chartreuse;

    border-radius: 10px;

}

nav{
    background-color: blue;
    width: 150px;
    height: 390px;
    float: left;
    border-radius: 10px;
    margin: 5px;

}

section{
    background-color: yellow;
    width: 450px;
    height: 390px;
    float: left;
    border-radius: 10px;
    margin: 5px;

}

#primero{
    background-color: green;
    width: 440px;
    height: 120px;
    float: left;
    border-radius: 10px;
    margin: 5px;

}
#segundo{
    background-color: green;
    width: 440px;
    height: 120px;
    float: left;
    border-radius: 10px;
    margin: 5px;

}

#tercero{
    background-color: green;
    width: 440px;
    height: 120px;
    float: left;
    border-radius: 10px;
    margin: 5px;

}

aside{
    background-color: cornflowerblue;
    width: 150px;
    height: 390px;
    float: left;
    border-radius: 10px;
    margin: 5px;
}

footer{
    background-color: greenyellow;
    width: 770px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;

}
